body {
  background-color: black;
  text-align: center;   
}

.selection {
  height: 100px;
  width: 200px;
  line-height: 30px;
  margin: 0 auto;
  @include tablet {
    position: relative;
    align-self: center;
    flex-direction: row;
    margin-left: 20px;
}
}

.loading {
  height: 150px;
  width: 150px;
  background-image: url("../../images/ajax-loader.gif");
  background-size: cover;
  position: absolute;
  left: 35%;
  bottom: 50%;
}