.nav-large {
  transition: 1s;
  display: flex;
  flex-direction: column;
  height: 90%;
  @include tablet {
    transition: 1s;
    padding-right: 55%;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }
}

.nav-small {
  height: 200px;
  margin: 40px;
  @include tablet {
    padding: 0 50% 0 20px;
    height: 150px;
    margin: 10px;
    flex-direction: row;
    align-content: flex-start;
}
}
